// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog {
  padding: 2%;
  border: 2px dotted rgb(230, 116, 116);
  width: 20%;
}